body {
  margin: 10%;
  font-family: sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffc973;
  color: #b74414;
  margin: auto;
  text-align: center;
}

h2 {
  background-color: #db9192;
  color: #ff2a37;
  padding: 1%;
  border-bottom-style: solid;
  border-bottom-color: #ff2a37;
  border-bottom-width: 2px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  color: #9697a9;
}

ul {
  padding-left: 0;
  list-style: inside;
}

li {
  color: #9697a9;
  padding-left: 0;
}

.destaque {
  font-weight: bold;
  color: #000;
}